/* Стиль для галереи */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.clickable-image {
    width: 150px; /* Фиксированная ширина */
    height: auto; /* Сохранение пропорций */
    cursor: pointer;
    transition: transform 0.3s ease;
}

.clickable-image:hover {
    transform: scale(1.1); /* Эффект увеличения при наведении */
}

/* Стиль для модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #ccc;
}
