/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;
    font-size: 1.2rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    justify-content: center;
}

.gallery img {
    width: 100%;
    max-width: 150px;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #947ca1;
    color: rgb(29, 20, 20);
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.9rem;
}

/* Медиа-запросы */
@media (max-width: 600px) {
    header {
        font-size: 1rem;
    }

    .gallery img {
        max-width: 120px;
    }

    footer {
        font-size: 0.8rem;
    }
}