/* Стили для модального окна */
.modal {
    display: none; /* По умолчанию скрыто */
    position: fixed;
    z-index: 1000; /* Поверх всех элементов */
    padding-top: 60px; /* Отступ сверху */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Темный фон */
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 90%; /* Максимальная ширина */
    max-height: 80vh; /* Максимальная высота (80% от высоты экрана) */
    object-fit: contain; /* Сохраняем пропорции изображения */
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #ccc;
    text-decoration: none;
}